@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GmarketSansMedium';
}

a {
    color: #00539C;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #FFD662;
    transition:all 0.7s ease;
}

.headerWrap {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-bottom: 15px;
    background: transparent;
    color: #00539C;
    transition:all 0.3s ease;
}

.headerWrap.fixed {
    background: rgba(0,0,0,0.25);
    transition:all 0.3s ease;
}

.headerWrap.change {
    height: 50px;
    color: #00539C;
    transition:all 0.3s ease;
}

.icon {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 45%;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
}

.nav {
    width: 33.3%;
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 15px;
    list-style: none;
    padding-bottom: 5px;
}

.nav-item {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding-bottom: 1px;
}