@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400; font-style: normal;
    }

* {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
}
#backgroundImg {
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    width: 100%;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 5px 110px 5px 110px;
}
nav {
    margin-top: 120px;
    margin-left: 100px;
    text-align: center;
    height: 100px;
    position: absolute;
}

.img1 {
    width: 330px;
    margin: 30px;
    margin-left: -8px;
    position: absolute;
    float: left;
}
.div1 {
    width: 50px;
    height: 50px;
    margin-left: 40px;
}

a {
    text-decoration-line: none;
    padding: 5px 40px 5px 40px;
}

.div3 {
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 220px; 
    color: white;
}
.div4 {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 190px; 
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: -220px;
}
.nav2 a, a:link, a:visited {
    color: black;
}
.nav2 a:hover {
    font-size: 30px;
    transition: all 0.2s ease-in-out;
    
}
.img2 {
    margin-top: 190px;
    margin-bottom: 50px;
}
.div2 {
    background-color: #BAD7E9;
    width: 1100px;
    height: 200px;
    padding: 120px 30px 0 30px;
    margin: auto;
    font-size: 23px;
}
.div5 {
    text-align: right;
    margin: 100px 55px 100px 55px;
}
.div5 h1 {
    padding: 10px 10px 10px 0;
    border: #BAD7E9 3px solid;
}
.div5 img {
    margin-top: 6px;
    width: 600px;
}
.div5 p {
    margin-top: 200px;
    margin-left: 30px;
    float: left;
    font-size: 30px;
    text-align: center;
}
footer {
    height: 80px;
    text-align: center;
    background-color: #BAD7E9;
}

.btn {
    position: absolute;
    top: 750px;
    left: 570px;
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid black;
    z-index: 99;
    cursor: pointer;
}
.img3 {
    width: 80%;

}
.div6 {
    text-align: center;
    display: flex;
    margin-top: 100px;
}



.prod-list li{
    position: relative;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
}
.prod-list img{
    margin: 0;
    padding: 0;
    z-index: 5;
}

.prod-list .caption{
    position: absolute;
    top: 200px;
    width: 1000px;
    height: 715px;
    padding-top: 20px;
    background-color: rgba(255,255,255,0.7);
    opacity: 0;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 9;
}
.prod-list li:hover .caption{
    opacity: 1;
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
}
.prod-list .caption h1, .prod-list .caption p {
    margin-top: 60px;
    color: #000;
    text-align: center;
}
#container{
    text-align: center;
    margin-top: 220px;
}

.img4 {
    width: 500px;
    margin-bottom: 86px
}
.img5 {
    width: 500px;
    margin-bottom: 80px
}

.div7 {
    text-align: left;
    margin-top: 190px;
    margin-left: 135px;
}
.div8 {
    text-align: right;
    margin-top: 50px;
    margin-right: 135px;
}