@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400; font-style: normal;
    }

* {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
}
#backgroundImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(../images/EiffelTower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
li {
    list-style-type: none;
    display: inline-block;
    color: white;
    font-size: 1.5em;
    margin: 5px 150px 5px 150px;
    padding: 3px;
}
nav {
    text-align: center;
    height: 100px;
}

.img1 {
    width: 400px;
    margin: 30px;
    float: left;
}
.div1 {
    width: 50px;
    height: 50px;
    margin-left: 40px;
    float: left;
}
.div2{
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 8px 5px 10px 5px;
    border-radius: 5px;
}
.checkbox-wrap{ 
    cursor: pointer; 
}
.checkbox-wrap .check-icon{ 
    display: inline-block; 
    width: 60px; 
    height: 50px; 
    background: url(../images/menu.png) left center no-repeat; 
    vertical-align: middle; 
    transition-duration: .3s; 
}
.checkbox-wrap input[type=checkbox]{ 
    display: none; 
}
.checkbox-wrap input[type=checkbox]:checked + .check-icon{ 
    background-image: url(../images/x.png); 
}




